!*.go
*.pyc
*.exe

trace.out

launch.json
apiserver*
rpcserver*
mqcserver*
cronserver*
flowserver*
webserver*
wsserver*
jwtserver*
testserver*
examples/conf
logger.toml
consul*
mqctestserver*
rpctestservre*